/* Блок услуги */
.services {
  padding-bottom: 94px;
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.services__title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: $main-text-color;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.services__list {
  display: flex;

  z-index: 1;
}

.services__item {
  position: relative;

  & + & {
    margin-left: 30px;
  }
}

.services__thumb {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: $background-color;

  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);

  width: 100%;
  height: 24%;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
}
