/* Блок наша команда */
.team {
  background-color: $background-cards-color;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.team-item {
  background: $background-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  width: 450px;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
    &:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
  }
}

.team-name {
  padding: 30px 10px 24px 10px;

  @media screen and (min-width: 1200px) {
    padding: 30px 10px 30px 10px;
  }
}

.team-leader {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: $main-text-color;
}

.team-profesion {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-contacts-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.team-contacts-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-text-color;
    cursor: pointer;
  }
}

.team-icon {
  width: 20px;
  height: 20px;
  fill: $icon-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .team-contacts-link:hover &,
  .team-contacts-link:focus & {
    fill: $background-color;
  }
}

.team-contacts-item:not(:last-child) {
  margin-right: 10px;
}
